#MACOS
.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# misc.
*~
*.org

# raw data
*.fastq.gz
*.fastq
*.fas
*.qual
*.stats
*.swarms
*.struct
.DS_Store
chicken_SQM.rds
*.db
data/processed/chicken_full_SQM.rds
data/processed/mobilome/01.SqueezeHuman_result_table.csv
data/processed/anvio/chicken/RUNLOG.txt
data/processed/anvio/chicken/chicken_anvio_contig_taxonomy.txt
data/processed/anvio/chicken/anvi-load-sqm.logfile
data/processed/anvio/human/RUNLOG.txt
data/processed/anvio/human/SqueezeHuman_anvio_contig_taxonomy.txt
data/processed/anvio/human/anvi-load-sqm.logfile
data/processed/mobilome/01.chicken_result_table.csv
data/processed/SQM/chicken_full_SQM.rds
data/processed/SQM/human_SQM.rds
*.bz2
data/raw/metaphlan31/chicken/C-1_profiled_metagenome.txt
data/raw/metaphlan31/chicken/C-2_profiled_metagenome.txt
data/raw/metaphlan31/chicken/C-3_profiled_metagenome.txt
data/raw/metaphlan31/chicken/C-4_profiled_metagenome.txt
data/raw/metaphlan31/chicken/C-5_profiled_metagenome.txt
data/raw/metaphlan31/chicken/C-6_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D10_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D11_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D12_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D13_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D14_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D15_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D16_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D17_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D18_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D19_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D1_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D20_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D21_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D22_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D23_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D24_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D25_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D26_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D27_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D28_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D29_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D2_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D30_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D31_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D32_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D33_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D34_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D35_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D36_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D37_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D38_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D39_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D3_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D40_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D41_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D42_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D43_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D4_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D5_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D6_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D7_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D8_profiled_metagenome.txt
data/raw/metaphlan31/chicken/D9_profiled_metagenome.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/C-1_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/C-2_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/C-3_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/C-4_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/C-5_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/C-6_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D10_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D11_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D12_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D13_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D14_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D15_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D16_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D17_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D18_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D19_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D1_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D20_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D21_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D22_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D23_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D24_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D25_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D26_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D27_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D28_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D29_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D2_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D30_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D31_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D32_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D33_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D34_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D35_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D36_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D37_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D38_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D39_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D3_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D40_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D41_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D42_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D43_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D4_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D5_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D6_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D7_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D8_profile.txt
data/raw/mOTUs/chicken/mOTU/PROFILE/D9_profile.txt
data/raw/mOTUs/chicken/mOTU/RC/C-1_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/C-2_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/C-3_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/C-4_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/C-5_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/C-6_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D10_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D11_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D12_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D13_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D14_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D15_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D16_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D17_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D18_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D19_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D1_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D20_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D21_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D22_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D23_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D24_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D25_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D26_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D27_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D28_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D29_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D2_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D30_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D31_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D32_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D33_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D34_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D35_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D36_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D37_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D38_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D39_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D3_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D40_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D41_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D42_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D43_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D4_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D5_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D6_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D7_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D8_mgc_read_count.txt
data/raw/mOTUs/chicken/mOTU/RC/D9_mgc_read_count.txt
