#MACOS
.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# misc.
*~
*.org

# raw data
*.fastq.gz
*.fastq
*.fasta.gz
*.fas
*.qual
*.stats
*.swarms
*.struct
.DS_Store


*concoct_*_collection*
*_concoct_*
*logger.log
*contigs.fa
*tar.gz
*Mdb.csv
*Ndb.csv
*.db
*/SUMMARY/
*SUMMARY/
*chicken_full_SQM.rds
*01.SqueezeHuman_result_table.csv
*RUNLOG.txt
*chicken_anvio_contig_taxonomy.txt
*anvi-load-sqm.logfile
*RUNLOG.txt
*SqueezeHuman_anvio_contig_taxonomy.txt
*anvi-load-sqm.logfile
*01.chicken_result_table.csv
*chicken_full_SQM.rds
*human_SQM.rds
*.bz2
*_profiled_metagenome.txt
*_profile.txt
*_mgc_read_count.txt
*.sam.bz2
*.tar.gz
*.bam
*chicken1_full_SQM.rds
*human1_SQM.rds
*_modules.txt
*_prediction_detailed.tsv
*_all_splits.tsv
*all-gene_calls.txt
*_full_gene_catalog_phyloseq.RDS
*ull_gene_catalog_full_metrics_table*
*full_gene_catalog_full_metrics_table.tsv.gz
*_compressed.zip
*PathoFact_intermediate*
*unnamed-*.png
*all_splits.tsv
*plasx-scores.txt

final_collection*tsv

#SQM
*.cog.funcover
*.fun3.cog
*fun3.pfam
*.rnas
*.orftable
*01*fasta
*kegg.funcover
*.trnas.fasta
*03*gff
*03.*fna
*03.*faa
*02*.16S.txt
*.fun3.tax.noidfilter.wranks
*.fun3.tax.wranks
*.rnas
*.trnas
*.kegg
20.*.contigtable
*_anvio_contig_taxonomy.txt

*export_functions.tsv
Chicken1-2_*.RDS

*_l1000.faa
*_l1000.fna
*_l1000.contig
*l1000_report.tsv

*mobileOG.Alignment.Out.csv
